<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-

	local h_str = ''

-%>

<%+header%>


<style type="text/css">
.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 8px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Ja";
    padding-left: 10px;
    background-color: #0064CD; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: " Nein ";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 43px;
    border: 2px solid #999999; border-radius: 8px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
</style>

<style type="text/css">
	
	.pager {
		/*margin:10px;*/
		/*text-align: left;*/
	}

	.subdomain-padding {
		/*margin-left: 20px;*/
	}

	#pager-prev-btn, #pager-next-btn,#pager-prev-btn-2, #pager-next-btn-2 {
		display: 'inline';
		/*text-align: left;*/
	}
	/*table { border-bottom: 1px solid black; }*/
	/*table { border: 0; margin-bottom: 0; }*/

	ul { text-decoration: none; list-style: none; margin: 0; padding:0; }

	.top-domain ul { display: none; background-color: #F3F3F3; }

	.lc { width:100%; }

	li .sub-domain table tr td { padding-left: 10px; }

	table tr td{
		/*padding: 0;*/
		/*line-height: 15px;	*/
	}
	

</style>



<script type="text/javascript">//<![CDATA[

	function encode(obj){
	
		obj = obj ? obj : { };
		obj['_'] = Math.random();

		if (typeof obj == 'object')
		{
			var code = '';
			var self = this;

			for (var k in obj)
				code += (code ? '&' : '') +
					k + '=' + encodeURIComponent(obj[k]);

			return code;
		}

		return obj;
	
	}

	function buildUrl(url, parameters){
	  var qs = "";
	  for(var key in parameters) {
	    var value = parameters[key];
	    qs += encodeURIComponent(key) + "=" + encodeURIComponent(value) + "&";
	  }
	  if (qs.length > 0){
	    qs = qs.substring(0, qs.length-1); //chop off last "&"
	    url = url + "?" + qs;
	  }
	  return url;
	}



	function toggle_blacklist (id,toggle) {
		var http = new XMLHttpRequest();
		var url = "/cgi-bin/luci/admin/blacklist_toggle?"+id+'&'+toggle;		
		http.open("GET", url, true);

		http.onreadystatechange = function() {
			
			if(http.readyState == 4 && http.status == 200) {
				console.log(http.status,http.readyState,http.responseText);	
			}
		}

		http.onerror = function(){
			console.log(http.readyState,http.responseText);			
		}
		http.send();
	}

	function on_switch_change (input) {
		console.log(input.checked,input.id);
		toggle_blacklist(input.id,input.checked);
	}
	

	function restart_dnsmasq(btn){

		var callingButton = btn;
		callingButton.disabled = true;
		callingButton.textContent = callingButton.value = "...";
		var http = new XMLHttpRequest();
		var url = "/cgi-bin/luci/admin/status/restart_dnsmasq_action";		
		http.open("GET", url, true);

		http.onreadystatechange = function() {//Call a function when the state changes.
			if(http.readyState == 4 && http.status == 200) {
				callingButton.disabled = false;
				callingButton.value = callingButton.textContent = "Änderungen anwenden";
			}
		}

		http.onerror = function(){
			callingButton.disabled = false;
			callingButton.value = callingButton.textContent = "Änderungen anwenden";
		}
		http.send();

	}


	function onDocumentLoaded(e){
		// get_blocked_domains();
		// gen_pager();
	}

	document.addEventListener( "DOMContentLoaded", onDocumentLoaded, false );
	
//]]></script>



<h2 name="content">Blocklisten</h2>

<fieldset class="cbi-section">
	<legend></legend>

	<table cellspacing="10" width="100%">
		<thead><th>#</th><th>Name</th><th>Einträge</th><th>Aktiv</th></thead>
		<tbody>
			<%=html%>
		</tbody>
	</table>
</fieldset>

<div class="actions">
	<button class="cbi-button cbi-button-apply" value="&Auml;nderungen anwenden" onclick="restart_dnsmasq(this)">&Auml;nderungen anwenden</button>
</div>

<%+footer%>
