<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-

	local h_str = ''

-%>

<%+header%>


<style type="text/css">
.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 8px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "An";
    padding-left: 10px;
    background-color: #0064CD; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: " Aus ";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 43px;
    border: 2px solid #999999; border-radius: 8px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
</style>

<style type="text/css">
	
	.pager {
		/*margin:10px;*/
		/*text-align: left;*/
	}

	.subdomain-padding {
		margin-left: 20px;
	}

	#pager-prev-btn, #pager-next-btn,#pager-prev-btn-2, #pager-next-btn-2 {
		display: 'inline';
		/*text-align: left;*/
	}
	/*table { border-bottom: 1px solid black; }*/
	table { border: 0; margin-bottom: 0; }

	ul { text-decoration: none; list-style: none; margin: 0; padding:0; }

	.top-domain ul { display: none; background-color: #F3F3F3; }

	.lc { width:100%; }

	li .sub-domain table tr td { padding-left: 10px; }

	table tr td{
		/*padding: 0;*/
		/*line-height: 15px;	*/
	}
	

</style>



<script type="text/javascript">//<![CDATA[

function gen_pager () {

	var next_btn = document.getElementById('pager-next-btn');
	var prev_btn = document.getElementById('pager-prev-btn');
	var next_btn_2 = document.getElementById('pager-next-btn-2');
	var prev_btn_2 = document.getElementById('pager-prev-btn-2');		

	if(index == 1){
		prev_btn.disabled = prev_btn_2.disabled = true;
		next_btn.disabled = next_btn_2.disabled = false;
	}
	else if(index == max ){
		prev_btn.disabled = prev_btn_2.disabled = false;
		next_btn.disabled = next_btn_2.disabled = true;
	}else{
		prev_btn.disabled = prev_btn_2.disabled = false;
		next_btn.disabled = next_btn_2.disabled = false;
	}
}

function replace_html (str) {
	var container = document.getElementById('container');
	if(container){
		container.innerHTML = str;
	}
}

function fadeOut(el){
	var elem = document.getElementById(el);
	elem.style.transition = "opacity 0.4s linear 0s";
	elem.style.opacity = 0;
}
function fadeIn(el){
	var elem = document.getElementById(el);
	elem.style.transition = "opacity 0.2s linear 0s";
	elem.style.opacity = 1;
}

function get_client_html () {
	
	var http = new XMLHttpRequest();
	var url = '/cgi-bin/luci/admin/client_xhr?'+ mac + '&' + index;
	http.open("GET", url, true);

	fadeOut('container');

	http.onreadystatechange = function() {//Call a function when the state changes.
		
		if(http.readyState == 4 && http.status == 200) {
			var res = JSON.parse(http.responseText);
			replace_html(res.html);
			gen_pager();
			// apply_blocked_domains();
			// callingButton.disabled = false;
			// callingButton.value = callingButton.textContent = "Änderungen anwenden";
		}

		fadeIn('container');
	}

	http.onerror = function(){
		// callingButton.disabled = false;
		// callingButton.value = callingButton.textContent = "Änderungen anwenden";
		fadeIn('container');
	}
	http.send();
}



	var mac = "<%=macaddr%>";
	var index = <%=index%>;
	var max = <%=max%>;

	function prev_btn_click () {

		index = index - 1;
		// var f = 1;
		// if(start_index == 1){
		// 	f = 1;
		// }else if(start_index - num_lines == 1){
		// 	f = 1;
		// }else{
		// 	f = start_index - num_lines;
		// }
		// start_index = f
		
		get_client_html();
	}

	function next_btn_click () {
		index = index + 1;
		// if(index == max){}		
		// var f = start_index + num_lines;
		// start_index = f;

		get_client_html();
	}


	function onDocumentLoaded(e){
		gen_pager();
	}


	document.addEventListener( "DOMContentLoaded", onDocumentLoaded, false );
	
//]]></script>



<h1 name="content"><%=host%> <small><%=macaddr%></small></h1>

<button onclick="prev_btn_click()" class="cbi-button default small" id="pager-prev-btn">Zurück</button>
<button onclick="next_btn_click()" class="cbi-button default small" id="pager-next-btn">Vor</button>

<fieldset class="cbi-section">
	<legend></legend>
	<table cellspacing="10" width="100%">
		<!-- <thead><th>#</th><th>Name</th><th>Gerät</th><th>Aktivität</th><th>Blockierung</th></thead> -->
		<tbody id="container">
			<%=html%>
		</tbody>
	</table>
</fieldset>

<div class="actions">
	<button onclick="prev_btn_click()" class="cbi-button default small" id="pager-prev-btn-2">Zurück</button>
	<button onclick="next_btn_click()" class="cbi-button default small" id="pager-next-btn-2">Vor</button>
	<button class="cbi-button cbi-button-apply" value="&Auml;nderungen anwenden" onclick="restart_network(this)">&Auml;nderungen anwenden</button>
</div>

<%+footer%>
