<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-

	local h_str = ''

-%>

<%+header%>


<style type="text/css">
.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 8px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "An";
    padding-left: 10px;
    background-color: #0064CD; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: " Aus ";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 43px;
    border: 2px solid #999999; border-radius: 8px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
</style>

<style type="text/css">
	
	.pager {
		/*margin:10px;*/
		/*text-align: left;*/
	}

	.subdomain-padding {
		margin-left: 20px;
	}

	#pager-prev-btn, #pager-next-btn,#pager-prev-btn-2, #pager-next-btn-2 {
		display: 'inline';
		/*text-align: left;*/
	}
	/*table { border-bottom: 1px solid black; }*/
	table { border: 0; margin-bottom: 0; }

	ul { text-decoration: none; list-style: none; margin: 0; padding:0; }

	.top-domain ul { display: none; background-color: #F3F3F3; }

	.lc { width:100%; }

	li .sub-domain table tr td { padding-left: 10px; }

	table tr td{
		/*padding: 0;*/
		/*line-height: 15px;	*/
	}
	

</style>



<script type="text/javascript">//<![CDATA[

	function encode(obj){
	
		obj = obj ? obj : { };
		obj['_'] = Math.random();

		if (typeof obj == 'object')
		{
			var code = '';
			var self = this;

			for (var k in obj)
				code += (code ? '&' : '') +
					k + '=' + encodeURIComponent(obj[k]);

			return code;
		}

		return obj;
	
	}

	function getCookie(cname) {
    	var name = cname + "=";
    	var ca = document.cookie.split(';');
    	for(var i=0; i<ca.length; i++) {
        	var c = ca[i];
        	while (c.charAt(0)==' ') c = c.substring(1);
        	if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    	}
    	return "";
	}

	function on_switch_change (input) {		
		toggle_mac(input.id,input.checked);
	}
	

	function restart_network(btn){

		var callingButton = btn;
		callingButton.disabled = true;
		callingButton.textContent = callingButton.value = "...";
		var http = new XMLHttpRequest();
		var url = "/cgi-bin/luci/admin/status/restart_network_action";		
		http.open("GET", url, true);

		http.onreadystatechange = function() {//Call a function when the state changes.
			if(http.readyState == 4 && http.status == 200) {
				callingButton.disabled = false;
				callingButton.value = callingButton.textContent = "Änderungen anwenden";
			}
		}

		http.onerror = function(){
			callingButton.disabled = false;
			callingButton.value = callingButton.textContent = "Änderungen anwenden";
		}
		http.send();

	}



	function toggle_mac(macaddr,toggle){

		var sysauthData = getCookie('sysauth');
		var token = "<%=token%>";
		
		var dataObj = {};
		dataObj.token = token;
		dataObj.sysauth = sysauthData;
		dataObj.macaddr = macaddr;
		
		var encoded = encode(dataObj);
		var http = new XMLHttpRequest();
		var url = "";
		if(toggle){
			url = "/cgi-bin/luci/admin/status/block_mac_action";
		}else{
			url = "/cgi-bin/luci/admin/status/unblock_mac_action";
		}
		
		http.open("POST", url, true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.setRequestHeader("token", token );
		http.setRequestHeader("sysauth", sysauthData );
		http.setRequestHeader("macaddr", macaddr );		
		http.setRequestHeader("Content-length", encoded.length );		
		http.setRequestHeader("Connection", "close");

		http.onreadystatechange = function() {//Call a function when the state changes.
			if(http.readyState == 4 && http.status == 200) {
				console.log(http.responseText);
			}
		}

		http.onerror = function(){
			console.log(http.responseText);
		}

		http.send(encoded);		
	}


	function onDocumentLoaded(e){

	}


	document.addEventListener( "DOMContentLoaded", onDocumentLoaded, false );
	
//]]></script>



<h2 name="content">Bekannte Geräte</h2>

<fieldset class="cbi-section">
	<legend></legend>

	<table cellspacing="10" width="100%">
		<thead><th>#</th><th>Name</th><th>Gerät</th><th>Aktivität</th><th>Sperrung</th></thead>
		<tbody>
			<%=html%>
		</tbody>
	</table>
</fieldset>

<div class="actions">
	<button class="btn primary" value="&Auml;nderungen anwenden" onclick="restart_network(this)">&Auml;nderungen anwenden</button>

	<!-- 
		cbi-button cbi-button-apply 
		
		<button class="cbi-button cbi-button-apply" value="&Auml;nderungen anwenden" onclick="restart_network(this)">&Auml;nderungen anwenden</button>

		<input class="cbi-button cbi-button-apply" type="submit" name="cbi.apply" value="Save &amp; Apply">
	-->

</div>

<%+footer%>
