<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-

	local h_str = ''

-%>

<%+header%>

<style type="text/css">

	.cbi-button-apply {
		text-align: right;
	}
	
	.pager {
		/*margin:10px;*/
		/*text-align: left;*/
	}

	.subdomain-padding {
		margin-left: 20px;
	}

	#pager-prev-btn, #pager-next-btn,#pager-prev-btn-2, #pager-next-btn-2 {
		display: 'inline';
		/*text-align: left;*/
	}
	/*table { border-bottom: 1px solid black; }*/
	table { border: 0; margin-bottom: 0; }

	ul { text-decoration: none; list-style: none; margin: 0; padding:0; }

	.top-domain ul { display: none; background-color: #F3F3F3; }

	.lc { width:100%; }

	li .sub-domain table tr td { padding-bottom: 0;}
	li .top-domain table tr td { padding-bottom: 0;}

	table tr td{
		/*padding: 0;*/
		/*line-height: 15px;	*/
	}

	h2 {
		margin-bottom: 10px;
	}

	li {
		/*line-height: 15px;*/
	}
	

</style>

<script type="text/javascript">

	function hasClass(element, cls) {
	    return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
	}

	// if(btn.value == "0"){
	// 	block_domain_action(d,btn);
	// }else if(btn.value == "1"){
	// 	unblock_domain_action(d,btn);
	// }

	function toggle (btn,domain) {
		var state = btn.value;
		if(state == '0'){
			btn.textContent = 'entsperren';
			btn.value = '1';
			block_domain_action_2(domain);
		}else if(state == '1'){
			btn.textContent = 'sperren';
			btn.value = '0';
			unblock_domain_action_2(domain);				
		}
	}

	function tog(btn){

		domain = btn.parentNode.parentNode.childNodes[1].textContent;
		state = btn.value;
		parent = btn.parentNode.parentNode.parentNode.parentNode.parentNode;
		isTopDomain = hasClass(parent,'top-domain');
		console.log(domain);			
		if(isTopDomain){ // change subdomains too
			toggle(btn,domain);
			
			// if(btn.value=='1')
			// 	parent.style.backgroundColor = '#FF8000';
			// else
			// 	parent.style.backgroundColor = null;

			// var listOfSubdomains = btn.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByClassName('sub-domain');
			
			// for (var i = listOfSubdomains.length - 1; i >= 0; i--) {
			// 	var btn = listOfSubdomains[i].getElementsByTagName('button')[0];
			// 	if(btn){
					
			// 		if(btn.value=='1'){
			// 			btn.disabled=true;
			// 			btn.textContent = 'sperren';
			// 			btn.value = '0';
			// 		}
			// 		else{
			// 			btn.textContent = 'entsperren';
			// 			btn.value = '1';
			// 			btn.disabled=false; 
			// 		}
			// 	}
			// };
		}else{
			toggle(btn,domain);

			// if(btn.value=='1')
			// 	btn.parentNode.parentNode.style.backgroundColor = '#FF8000';
			// else
			// 	btn.parentNode.parentNode.style.backgroundColor = null;
		}						
	}

	function show_subs (li) {
		li.style.backgroundColor = '#F3F3F3';
		var sub_domains_ul = li.childNodes[3];
		sub_domains_ul.style.display = 'block'; 
		// setTimeout(function(){do_show_subs(li);}, 500);
	}

	function do_show_subs (li) {
		li.style.backgroundColor = '#F3F3F3';
		var sub_domains_ul = li.childNodes[3];
		sub_domains_ul.style.display = 'block'; 
	}

	function hide_subs(li){
		li.style.backgroundColor = null;
		var sub_domains_ul = li.childNodes[3];
		sub_domains_ul.style.display = 'none'; 
		// do_hide_subs(li);
		// setTimeout(function(){do_hide_subs(li);}, 500);
	}

	function do_hide_subs (li) {
		li.style.backgroundColor = null;
		var sub_domains_ul = li.childNodes[3];
		sub_domains_ul.style.display = 'none'; 
	}

</script>

<script type="text/javascript">//<![CDATA[

	function encode(obj){
	
		obj = obj ? obj : { };
		obj['_'] = Math.random();

		if (typeof obj == 'object')
		{
			var code = '';
			var self = this;

			for (var k in obj)
				code += (code ? '&' : '') +
					k + '=' + encodeURIComponent(obj[k]);

			return code;
		}

		return obj;
	
	}

	function getCookie(cname) {
    	var name = cname + "=";
    	var ca = document.cookie.split(';');
    	for(var i=0; i<ca.length; i++) {
        	var c = ca[i];
        	while (c.charAt(0)==' ') c = c.substring(1);
        	if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    	}
    	return "";
	}

	function domain_action(d,btn){
		if(btn.value == "0"){
			block_domain_action(d,btn);
		}else if(btn.value == "1"){
			unblock_domain_action(d,btn);
		}
	}

	var blocked_domains = null;

	function apply_blocked_domains () {
		for (var i = 0; i < blocked_domains.length; i++) {
			var btn, d, tr = null;	
			d = blocked_domains[i];					
			btn = document.getElementById(d);
			console.log(d,btn);

			if(btn != null){
				// tr.style.backgroundColor = "#ffd3b6";
				// btn = tr.childNodes[2].firstChild;
				btn.textContent = "entsperren";
				btn.value = "1";
			}					
		};
	}

	function get_blocked_domains(){

		var http = new XMLHttpRequest();
		var url = "/cgi-bin/luci/admin/status/get_blocked_domains_action";		
		http.open("GET", url, true);

		http.onreadystatechange = function() {//Call a function when the state changes.
			if(http.readyState == 4 && http.status == 200) {
				console.log(http.responseText);
				var resObj = JSON.parse(http.responseText);
				blocked_domains = resObj.domains;

				apply_blocked_domains();
			}
		}

		// http.onerror = function(){

		// }
		http.send();		
	}	


	
	function block_domain_action_2(domain){

		// var callingButton = btn;
		// var callingTableRow = btn.parentElement.parentElement;	

		// callingButton.disabled = true;
		// callingButton.textContent = callingButton.value = "...";

		var sysauthData = getCookie('sysauth');
		var token = "<%=token%>";
		
		var dataObj = {};
		dataObj.token = token;
		dataObj.sysauth = sysauthData;
		dataObj.d = domain;
		
		var encoded = encode(dataObj);
		var http = new XMLHttpRequest();
		var url = "/cgi-bin/luci/admin/status/block_domain_action";
		
		http.open("POST", url, true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.setRequestHeader("token", token );
		http.setRequestHeader("sysauth", sysauthData );
		http.setRequestHeader("d", domain );
		http.setRequestHeader("Content-length", encoded.length );		
		http.setRequestHeader("Connection", "close");

		http.onreadystatechange = function() {//Call a function when the state changes.
			if(http.readyState == 4 && http.status == 200) {
				// callingButton.disabled = false;						
				// callingTableRow.style.backgroundColor = "#ffd3b6";
				// callingButton.value = callingButton.textContent = 'Entsperren';		
				// callingButton.onclick = function(){
					// unblock_domain_action(d,callingButton);
				// }
				console.log(http.responseText);
			}
		}

		http.onerror = function(){
			// callingButton.disabled = false;
			// callingButton.textContent = callingButton.value = "Sperren";
			console.log(http.responseText);
		}

		http.send(encoded);		
	}
	function unblock_domain_action_2(domain){

		// var callingButton = btn;
		// var callingTableRow = btn.parentElement.parentElement;	

		// btn.disabled = true;
		// btn.textContent = btn.value = "...";

		var sysauthData = getCookie('sysauth');
		var token = "<%=token%>";
		
		var dataObj = {};
		dataObj.token = token;
		dataObj.sysauth = sysauthData;
		dataObj.d = domain;
		
		var encoded = encode(dataObj);
		var http = new XMLHttpRequest();
		var url = "/cgi-bin/luci/admin/status/unblock_domain_action";
		
		http.open("POST", url, true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.setRequestHeader("token", token );
		http.setRequestHeader("sysauth", sysauthData );
		http.setRequestHeader("d", domain );
		http.setRequestHeader("Content-length", encoded.length );		
		http.setRequestHeader("Connection", "close");

		http.onreadystatechange = function() {//Call a function when the state changes.
			if(http.readyState == 4 && http.status == 200) {
				// callingButton.disabled = false;						
				// callingTableRow.style.backgroundColor = "#fff";
				// callingButton.value = callingButton.textContent = 'Sperren';		
				// callingButton.onclick = function(){
				// 	block_domain_action(d,callingButton);
				// }
				console.log(http.responseText);
			}
		}

		http.onerror = function(){
			// callingButton.disabled = false;
			// callingButton.textContent = callingButton.value = "Sperren";
			console.log(http.responseText);
		}

		http.send(encoded);		
	}



	function restart_network(btn){

		var callingButton = btn;
		callingButton.disabled = true;
		callingButton.textContent = callingButton.value = "...";
		var http = new XMLHttpRequest();
		var url = "/cgi-bin/luci/admin/status/restart_network_action";		
		http.open("GET", url, true);

		http.onreadystatechange = function() {//Call a function when the state changes.
			if(http.readyState == 4 && http.status == 200) {
				callingButton.disabled = false;
				callingButton.value = callingButton.textContent = "Änderungen anwenden";
			}
		}

		http.onerror = function(){
			callingButton.disabled = false;
			callingButton.value = callingButton.textContent = "Änderungen anwenden";
		}
		http.send();

	}

	var filecount = <%=filecount%>;
	var start_index = <%=start_index%>;
	var num_lines = <%=num_lines%>;

	function gen_pager () {

		var next_btn = document.getElementById('pager-next-btn');
		var prev_btn = document.getElementById('pager-prev-btn');
		var next_btn_2 = document.getElementById('pager-next-btn-2');
		var prev_btn_2 = document.getElementById('pager-prev-btn-2');		

		if(start_index == 1){
			prev_btn.disabled = prev_btn_2.disabled = true;
			next_btn.disabled = next_btn_2.disabled = false;
		}
		else if(start_index + num_lines >= filecount ){
			prev_btn.disabled = prev_btn_2.disabled = false;
			next_btn.disabled = next_btn_2.disabled = true;
		}else{
			prev_btn.disabled = prev_btn_2.disabled = false;
			next_btn.disabled = next_btn_2.disabled = false;
		}
	}

	function replace_html (str) {
		var container = document.getElementById('domains-html-container');
		if(container){
			container.innerHTML = str;
		}
	}

	function fadeOut(el){
		var elem = document.getElementById(el);
		elem.style.transition = "opacity 0.4s linear 0s";
		elem.style.opacity = 0;
	}
	function fadeIn(el){
		var elem = document.getElementById(el);
		elem.style.transition = "opacity 0.2s linear 0s";
		elem.style.opacity = 1;
	}

	function get_domains_html (start_index) {
		// var callingButton = btn;
		// callingButton.disabled = true;
		// callingButton.textContent = callingButton.value = "...";
		var f = start_index;
		var http = new XMLHttpRequest();
		var url = '/cgi-bin/luci/admin/domains_xhr?i='+ f;
		http.open("GET", url, true);

		fadeOut('domains-html-container');

		http.onreadystatechange = function() {//Call a function when the state changes.
			
			if(http.readyState == 4 && http.status == 200) {
				var res = JSON.parse(http.responseText);
				replace_html(res.html);
				gen_pager();
				apply_blocked_domains();
				// callingButton.disabled = false;
				// callingButton.value = callingButton.textContent = "Änderungen anwenden";
			}

			fadeIn('domains-html-container');
		}

		http.onerror = function(){
			// callingButton.disabled = false;
			// callingButton.value = callingButton.textContent = "Änderungen anwenden";
			fadeIn('domains-html-container');
		}
		http.send();
	}

	function prev_btn_click () {
		
		var f = 1;
		if(start_index == 1){
			f = 1;
		}else if(start_index - num_lines == 1){
			f = 1;
		}else{
			f = start_index - num_lines;
		}
		start_index = f
		
		get_domains_html(f);
	}

	function next_btn_click () {		
		var f = start_index + num_lines;
		start_index = f;
		get_domains_html(f);
	}

	function onDocumentLoaded(e){
		get_blocked_domains();
		gen_pager();
	}

	document.addEventListener( "DOMContentLoaded", onDocumentLoaded, false );
	
//]]></script>

<h1 name="content">Besuchte Adressen <small><%=filecount%></small></h1>
<div class="actions">
	<button onclick="prev_btn_click()" class="cbi-button default small" id="pager-prev-btn">Zurück</button>
	<button onclick="next_btn_click()" class="cbi-button default small" id="pager-next-btn">Vor</button>
	<button class="cbi-button cbi-button-apply" value="&Auml;nderungen anwenden" onclick="restart_network(this)">&Auml;nderungen anwenden</button>
</div>

<fieldset class="cbi-section">
	<legend>

	</legend>

	<ul id="domains-html-container">
		<%=html_str%>
	</ul>

</fieldset>


<div class="actions">
	<button onclick="prev_btn_click()" class="cbi-button default small" id="pager-prev-btn-2">Zurück</button>
	<button onclick="next_btn_click()" class="cbi-button default small" id="pager-next-btn-2">Vor</button>
	<button class="cbi-button cbi-button-apply" value="&Auml;nderungen anwenden" onclick="restart_dnsmasq(this)">&Auml;nderungen anwenden</button>
</div>


<%+footer%>
